/* FONTS */

@font-face {
  font-family: "biryanilight";
  src: url("Biryani-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "biryaniregular";
  src: url("Biryani-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "biryanibold";
  src: url("Biryani-Bold-webfont.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #282c34;
  --font-color: #e2e8f0;
  --border-color: #4f46e5;
}

li {
  list-style: none;
  display: flex;
}

ul {
  list-style: none;
}

/* MAIN LAYOUT */

.App {
  text-align: center;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: "biryanilight";
  color: var(--font-color);
}

.Main {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
}

.Third {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Half {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* NAVBAR STYLING */

.navbar-container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-logo-container {
  font-family: "biryanibold";
  display: flex;
  align-items: center;
}

.navbar-icon {
  width: 60px;
  height: 60px;
}

.navbar-site-name {
  font-size: 1.4rem;
}

.navbar-sitemap-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.navbar-icons-container {
  display: flex;
  width: 5rem;
  align-items: center;
  justify-content: space-between;
}

.navbar-mode-icon {
  width: 2rem;
  height: 2rem;
}

/* MAIN GRAPH STYLING */
.main-container {
  border: 4px var(--border-color) solid;
  width: 800 px;
  height: 55vh;
  align: 0 center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

.main-container-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main-container-menu-crypto-bar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.main-container-menu-cur-icon {
  width: 30px;
}

.main-container-menu-dropdown {
  margin-top: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  width: 25%;
}

.main-container-chart-container {
  position: relative;
  margin: 10px auto;
  width: 650px;
  height: 45vh;
}

#main-container-menu-timespan-label {
  padding-right: 1rem;
}

#main-container-menu-timespan-dropdown {
  width: 60%;
  font-size: 0.7rem;
  background-color: #e4e4e7;
  border-radius: 8px;
}

/* STATS STYLING */
.stats-container {
  border: 4px var(--border-color) solid;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stats-refresh-button {
  display: flex;
  width: 95%;
  justify-content: flex-end;
}

.stats-refresh-coin {
  padding: 0px 3px 0px 3px;
  margin-top: 0.6rem;
  font-size: 0.7rem;
  border-radius: 8px;
  background-color: #e4e4e7;
  height: 1.4rem;
}

.stats-icon-date-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.stats-cur-icon {
  width: 36px;
}

.stats-coin-date-time {
  padding: 0;
  font-size: 1.1rem;
}

.stats-coin-value {
  height: 80px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* SUB GRAPH STYLING */

.sub-graph-one-container {
  border: 4px var(--border-color) solid;
  width: 45%;
  align: 0 center;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FOOTER STYLING */

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  font-size: 1rem;
}

/* LOADING ANIMATION */

.loader {
  margin-top: 10vh;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--border-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERY */

@media (max-width: 1000px) {
  .main-container-chart-container {
    height: 35vh;
    margin: 1rem auto;
  }
}

@media (max-width: 910px) {
  .stats-container {
    border: 3px var(--border-color) solid;
    width: 240px;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .sub-graph-one-container {
    border: 3px var(--border-color) solid;
    width: 90%;
    margin-bottom: 1rem;
  }

  .footer-links {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  // Stats Container Specs

  .stats-refresh-coin {
    margin-top: 0.5rem;
    font-size: 0.5rem;
    height: 1.2rem;
  }

  .stats-cur-icon {
    width: 32px;
  }

  .Third {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .Half {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  // Footer Specs

  // Navbar Specs

  .navbar-icon {
    width: 32px;
    height: 32px;
  }

  .navbar-site-name {
    font-size: 0.9rem;
  }

  .navbar-sitemap-container {
    justify-content: space-around;
    font-size: 1rem;
  }

  .navbar-mode-icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  // Main Container Specs

  .main-container {
    border: 3px var(--border-color) solid;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin: 0;
  }

  .main-container-menu {
    flex-direction: column;
    align-items: center;
  }

  .main-container-menu-dropdown {
    width: 60%;
    font-size: 0.8rem;
    justify-content: space-around;
  }

  .main-container-chart-container {
    width: 300px;
    height: 35vh;
    margin: 1rem auto;
  }

  .main-container-menu-crypto-bar {
    width: 80%;
    margin-bottom: 0.9rem;
  }

  .main-container-menu-cur-icon {
    width: 24px;
  }

  #main-container-menu-timespan-dropdown {
    width: 40%;
    font-size: 0.7rem;
  }
}
